Repository Wecros/bcthesis: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, test, clean-git

format:
  name: python-format
  entry: make format
  pass_filenames: false
  language: system

lint:
  name: python-lint
  entry: make lint
  pass_filenames: false
  language: system

test:
  name: pytest
  entry: make test
  pass_filenames: false
  language: system

clean-git:
  name: prepare-repo-for-git
  entry: make git
  pass_filenames: false
  language: system

Fix github pipeline
  .github/actions/setup/action.yml
  .github/workflows/pipeline.yml
  .github/workflows/verify.yml
  .gitignore
  thesis-template-tips.pdf
Due: none

Add global metric and historical BTC API data
  .gitignore
  Makefile
  backtester/__main__.py
  backtester/api_downloader.py
  backtester/argparser.py
  backtester/args.yaml
  backtester/binance_api_downloader.py
  backtester/btc.csv
  backtester/coingecko_api_downloader.py
  backtester/coinmarketcap_api_downloader.py
  backtester/dca_strategy.py
  backtester/plotter.py
  backtester/riskmetric_strategy.py
  backtester/simulator.py
  backtester/utils.py
  tests/utils.py
Due: format, lint, test

Add total market cap and time-series ML riskmetric predictions
  backtester/argparser.py
  backtester/args.yaml
  backtester/coinmarketcap_api_downloader.py
  backtester/plotter.py
  backtester/riskmetric_strategy.py
  backtester/simulator.py
  backtester/strategy.py
  backtester/utils.py
  requirements.txt
  text/xfilip46-thesis-01-chapters.tex
  xfilip46-thesis-presentation.pdf
Due: format, lint, test, clean-git

Add text regarding design and implementation
  backtester/argparser.py
  text/Makefile
  text/figures/periodic-rebalance.png
  text/figures/strategy-class-diagram.png
  text/figures/structure-diagram.png
  text/figures/threshold-rebalance.png
  text/xfilip46-thesis-01-chapters.tex
  text/xfilip46-thesis-20-bibliography.bib
  text/xfilip46-thesis.tex
  xfilip46-thesis-presentation.pdf
  xfilip46-thesis.pdf
Due: format, lint, test, clean-git

Add more to metric evaluation
  Makefile
  backtester/args.yaml
  backtester/simulator.py
  text/figures/experiment-riskmetric.png
  text/figures/experiment-riskmetric2.png
  text/xfilip46-thesis-01-chapters.tex
  text/xfilip46-thesis-30-appendices.tex
  xfilip46-thesis-presentation.pdf
  xfilip46-thesis.pdf
Due: format, lint, test, clean-git

Add percentage graphs as an option to plotting
  backtester/args.yaml
  backtester/plotter.py
  backtester/riskmetric_strategy.py
  backtester/simulator.py
  backtester/utils.py
  text/figures/50week-colorcoded.png
  text/figures/50week-scale.png
  text/figures/benchmark-1.png
  text/figures/benchmark-2.png
  text/figures/benchmark-A.png
  text/figures/benchmark-B.png
  text/figures/structure-diagram.png
  text/xfilip46-thesis-01-chapters.tex
  text/xfilip46-thesis-20-bibliography.bib
  xfilip46-thesis-presentation.pdf
  xfilip46-thesis.pdf
Due: format, lint, test, clean-git

Add strategies to experiments section
  backtester/args.yaml
  backtester/plotter.py
  backtester/simulator.py
  backtester/utils.py
  text/figures/24volume-lin.png
  text/figures/24volume-log.png
  text/figures/24volume-ols.png
  text/figures/autots-prediction.png
  text/figures/expected-price-formula.png
  text/figures/riskmetric-dim-returns.png
  text/figures/totalmarketcap-metric-dimreturns.png
  text/figures/totalmarketcap-metric.png
  text/xfilip46-thesis-01-chapters.tex
  text/xfilip46-thesis-20-bibliography.bib
  xfilip46-thesis-presentation.pdf
  xfilip46-thesis.pdf
Due: format, lint, test, clean-git

Start adding strategy evaluations
  backtester/args.yaml
  backtester/coingecko_api_downloader.py
  backtester/plotter.py
  backtester/riskmetric_calculator.py
  backtester/riskmetric_strategy.py
  backtester/simulator.py
  backtester/strategy.py
  backtester/utils.py
  text/figures/24volume-7sma.pdf
  text/figures/24volume-7sma.png
  text/figures/24volume-lin.png
  text/figures/24volume-log.png
  text/figures/24volume-ols.png
  text/figures/24volume-riskmetric-dimreturns.pdf
  text/figures/24volume-riskmetric-dimreturns.png
  text/figures/24volume-riskmetric.pdf
  text/figures/24volume-riskmetric.png
  text/figures/strat-eval1.png
  text/figures/strat-eval2.png
  text/figures/strat-eval3.png
  text/xfilip46-thesis-01-chapters.tex
  text/xfilip46-thesis-20-bibliography.bib
  xfilip46-thesis-presentation.pdf
  xfilip46-thesis.pdf
Due: format, lint, test, clean-git

Create LICENSE
  LICENSE
Due: none

Path conditions:
  format: any of: ^.*\.py$
  lint: any of: ^.*\.py$
  test: any of: ^.*\.py$
  clean-git: any of: ^.*\.tex$
